<div class="flex justify-end">
  <button (click)="goToBack()" mat-button>Back</button>
</div>

<div class="flex ">
  <div class="flex-none w-[20%] ">
    <div class="pl-4 flex flex-col">
      <p class="text-base">Label </p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="label">
          <mat-option value="corporate">Top</mat-option>
          <mat-option value="joint">Bottom</mat-option>
          <mat-option value="single">Left</mat-option>
          <mat-option value="single">Right</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="text-base">Border </p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="borderColor">
          <mat-option value="corporate">No Color</mat-option>
          <mat-option value="corporate">Pink</mat-option>
          <mat-option value="joint">Red</mat-option>
          <mat-option value="single">Green</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="text-base">Text </p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="textColor">
          <mat-option value="corporate">White</mat-option>
          <mat-option value="joint">Red</mat-option>
          <mat-option value="single">Green</mat-option>
        </mat-select>
      </mat-form-field>


    </div>
  </div>
  <div class="grow  ">
    <canvas baseChart class="chart" [options]="pieChartOptions" [data]="pieChartData" [type]="pieChartType"
      [plugins]="pieChartPlugins" (chartClick)="chartClicked($event)">
    </canvas>
  </div>

</div>
