<div>
  <app-pie-chart-shell></app-pie-chart-shell>
</div>

<div style="margin: 14px;">
  <app-multi-axis-bart-chart></app-multi-axis-bart-chart>
</div>

<div style="margin: 14px;">
 <app-bar-chart-shell></app-bar-chart-shell>
</div>

<div style="margin: 14px;">
  <app-line-chart-shell></app-line-chart-shell>
 </div>

<div style="margin: 14px;">
  <app-multi-axis-line-chart-shell></app-multi-axis-line-chart-shell>
 </div>


























<!-- <canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend"
  >
</canvas> -->
