<div class="grid grid-cols-2 gap-4">

    <app-pie-chart-shell></app-pie-chart-shell>
    <app-multi-axis-line-chart-shell></app-multi-axis-line-chart-shell>
    <app-bar-chart-shell></app-bar-chart-shell>
    <app-line-chart-shell></app-line-chart-shell>

   <app-multi-axis-bar-chart-shell></app-multi-axis-bar-chart-shell>

</div>


































<!-- <canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend"
  >
</canvas> -->
