<div class="flex justify-end">
  <button (click)="goToBack()" mat-button>Back</button>
</div>

<div class="flex">
  <div class="flex-none w-[20%]">
    <div class="pl-4 flex flex-col">

      <p class="text-base">Legend Position </p>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="changeLegend($any($event))">
          <mat-option value="top">Top</mat-option>
          <mat-option value="bottom">Bottom</mat-option>
          <mat-option value="left">Left</mat-option>
          <mat-option value="right">Right</mat-option>
        </mat-select>

      </mat-form-field>

      <p class="text-base">Label Position </p>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="changeLabelPosition($any($event))">
          <mat-option value="outside">Outside</mat-option>
          <mat-option value="start">Start</mat-option>
          <mat-option value="center">Center</mat-option>

        </mat-select>

      </mat-form-field>

      <p class="text-base">Background Color</p>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="changeBackgroundColor($any($event))">
          <mat-option value="blue">Blue SpringGreen</mat-option>
          <mat-option value="coral"> Coral Pale</mat-option>
          <mat-option value="orange"> Orange Purple</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="text-base">Text Color</p>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="changeTextColor($any($event))">
          <mat-option value="white">White</mat-option>
          <mat-option value="black">Black</mat-option>
          <mat-option value="green">Green</mat-option>
        </mat-select>
      </mat-form-field>


    </div>
  </div>
  <div class="ml-6 grow">
    <canvas
      baseChart
      class="chart"
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
      [plugins]="barChartPlugins"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
</div>
